{% extends "base_profiles.html" %}

{% load tagging_tags %}

{% load thumbnail %}

{% load adminmedia admin_list i18n %}

{% block title %}
Group {{ title }}
{% endblock %}

{% block sitesection %}{% endblock %}

{% block breadcrumblinks %}
{{ title }}
{% endblock %}

{% block mainbody %}
<div id="ProfileTop">
  <div id="staff-links">
    {% if edittable or can_invite %}
      <div class="button-edit-profile">
          {% spaceless %}
            {% if edittable %}<a href="{% url profiles_edit_organization organization.id %}">Edit group</a>{% endif %}
            {% if can_invite %}<a href="{% url profiles_edit_organization organization.id %}">Invite people</a>{% endif %}
          {% endspaceless %}
      </div>
    {% endif %}
  </div>

  <div id="photo">
    {% if organization.logo %}
      <img src="{% thumbnail organization.logo 240x240 crop %}" />
    {% else %}      
      <img src="{{ MEDIA_URL }}images/defaults/240px/DataMyne_Icon_Group_240.jpg" width="240" height="240" />
    {% endif %}      
  </div>
  
  <div class="basic-info">
  	<div class="fullname">
    {% if organization.title %}
    	{{ organization.title }}
  	{% endif %}
    </div>
    
    {% if leaders.all %}
    <h4>Group Leader(s)</h4>
	 {% for leader in current_leaders %}
	   <a href="{% url profiles_view_person_profile leader.person.id %}">{%spaceless%}{{ leader.person }}{% endspaceless%}</a>{% if not forloop.last %},{% endif %}
	 {% endfor %}
    {% endif %}
    
    <h4>Group Type</h4>
    <a href="{% url haystack_search %}?q={{ organization.type }}">{{ organization.type }}</a>
    
    {% if organization.url %}
    <h4>Group URL</h4>
    <a href="{{ organization.url }}">{{ organization.url }}</a>
    {% endif %}
  </div>
</div>

<div id="ProfileColumnLeft">
	<div>
		<h2>About</h2>
	  {{ organization.description }}
	</div>
	
    {% if organization.tags %}
      <h2>Tags</h2>
      <div class="tags">  
          {% tags_for_object organization as tag_list %}
          {% if tag_list %}
          {% for t in tag_list %}<a href="{% url haystack_search %}?q={{ t.name }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
          {% else %}
          <em>No tags yet.</em>
          {% endif %}
      </div>
    {% endif %}

	{% if current_members %}
	<div>
		<h4>Current Members</h4>
	  {% for member in current_members %}
	    <a href="{% url profiles_view_person_profile member.person.id %}">{%spaceless%}{{ member.person }}{% endspaceless%}</a>{% if not forloop.last %},{% endif %}
	  {% endfor %}
	</div>
	{% endif %}
		
	{% if organization.projects.all %}
	<div>
		<h4>Related Projects</h4>
	  {% for project in organization.projects.all %}
	    {% if not forloop.first %},{% endif %}
	    <a href="{% url view-project-profile project.id %}">{{ project }}</a>
	  {% endfor %}
	</div>
	{% endif %}
	
	{% if organization.courses.all %}
	<div>
		<h4>Related Courses</h4>
	  {% for course in organization.courses.all %}
	    {% if not forloop.first %},{% endif %}
	    <a href="{% url view-course course.id %}">{{ course }}</a>
	  {% endfor %}
	</div>
	{% endif %}
	
</div>

<div id="ProfileColumnRight">	
    {% include "profiles/include/invitations_list.html" %}
    
    {# FUTURE: there is syntax in Django 1.3 that helps get rid of nested with blocks #}
    {% with 'organization' as model_name %}
    {% with organization as container %}
    {% include 'reporting/include/meetings_list.html' %}
    {% endwith %}
    {% endwith %}

    {% include "profiles/include/mlt_list.html" %}
</div>

{% endblock %}

