{% extends "base_profiles.html" %}
{% load datamyne_extras %}                                  
{% load tagging_tags %}
{% load thumbnail %}
{% block title %}Committees{% endblock %}
  
{% block extrastyle %}      
{{ block.super }}
<style>
    .authority-list {margin-top: 10px;}
</style>
{% endblock %}

{% block extrahead %}   
<script src="{{ MEDIA_URL }}js/jquery.jstree.js" type="text/javascript"></script>
{% endblock %}
                   
{% block sitesection %}Committees{% endblock %}

{% block breadcrumblinks %}
Committees
{% endblock %}

{% block mainbody %}                

<h1>Committees</h1>

<div class="authority-list">
    <ul>
    {% for school in schools %}
        <li>
            <a>{{ school }}</a>
	        <ul>
	        {% for authority in school.authorities.all %}
	            <li><a href="{{ authority.committee.get_absolute_url }}">{{ authority.committee }}</a></li>
	        {% endfor %}
	        </ul>
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    $(function () {
    	 $(".authority-list").bind("loaded.jstree", function (event, data) {
    		 $("#schools").jstree("open_all");
        });

        $(".authority-list").jstree({ 
            "core" : { "initially_open" : [ "#schools" ] },
             "themes" : {
                 "theme" : "apple",
                 "dots" : true,
                 "icons" : true
             },
            "plugins" : [ "themes", "html_data" ]
        });
    });
</script>                       
    
{% endblock %}
