{% extends "base_profiles.html" %}

{% block title %}
About
{% endblock %}

{% block sitesection %}about{% endblock %}

{% block breadcrumbs %}
About
{% endblock %}

{% block mainbody %}

<p>
  <h2>What is DataMyne?</h2>
</p>

<p>
  DataMyne is a comprehensive, dynamic, web-based platform to connect the larger curricular and research domains of Parsons (and soon New School) people, courses & projects. In its visual mapping of database information related to specific course content, syllabi, faculty and student interests, expertise and bios, this platform will help foster a much-needed resource for students, administration, and faculty across all areas of study.
</p>
<p>
  Read the more about the project <a href="{{ MEDIA_URL }}doc/Exec_Summary_04-11.pdf" target="_blank">here</a>
</p>

<p>
  <h2>How will it be updated?</h2>
</p>

<p>
  By YOU - faculty and students have direct, ongoing access to update their profiles.  Faculty profiles determine the information that is migrated to the Parsons website, and student profiles will be featured in the 2011 Parsons Festival, as well as integrated with each school's magazine.
</p>

<p>
  <h2>Will this information be public?</h2>
</p>

<p>
  Yes! The Parsons website is currently pulling data from the faculty profile fields, though not in real-time. The website will pull new data every few weeks. It is also viewable as a stand alone site as well. CV's and Syllabi are only viewable to people who are logged in, e.g. the internal Parsons Community.
</p>

<p>
  <h2>What cool new things are you developing?</h2>
</p>

<p>
  This year we launched an updated interface that maps out faculty, courses & projects, as well as expanded to students. Forthcoming are more robust network features, festival integration with SMS text and a mobile app!
</p>

<p>
  <h2>Credits:</h2>
</p>

<p>
  <strong>Project Directors:</strong><br/>
  Jane Pirone, Jess Irish 
</p>

<p>
  <strong>System Developers:</strong><br/>
  Mike Edwards, Minhao Yu, Jonah Model
</p>

<p>
  <strong>Phase 1 Prototype:</strong><br/>
  Mike Edwards, Chuck Yust
</p>

<p>
	<strong>Visual / UI / Mobile:</strong><br />
    Dong Yoon Park
</p>

<p>
  Special thanks to AMT star Sven Travis, the Parsons Deans Office and the Provost's Office for continued support!
</p>
{% endblock %}
