{% extends "base_profiles.html" %}

{% block title %}
Contact {{ student.first_name }} {{ student.last_name }}
{% endblock %}

{% block sitesection %}contact{% endblock %}

{% block breadcrumbs %}
Contact {{ student.first_name }} {{ student.last_name }}
{% endblock %}

{% block mainbody %}

<h2>Contact {{ student.first_name }} {{ student.last_name }}</h2>

<div>
    <p>Please fill out the form below. Once you have finished, click the 'Submit' button at the bottom of the page.</p>
</div>

<form action="{% url profiles_contact_student student.id %}" method="POST">
{% csrf_token %}
	<div class="thankyou">
    	{{ thankyou }}
    </div>
	<div class="infofield">
    	<p>Name</p>
    	{{ form.name.errors }}
        {{ form.name }}
    </div>
    <div class="infofield">
    	<p>Email</p>
    	{{ form.email.errors }}
        {{ form.email }}
    </div>
    <div class="infofield">
    	<p>Subject</p>
    	{{ form.subject.errors }}
        {{ form.subject }}
    </div>
    <div class="infofield">
    	<p>Message</p>
    	{{ form.message.errors }}
        {{ form.message }}
    </div>
	<input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
