{% extends "base_profiles.html" %}
{% load thumbnail %}
{% load adminmedia %}
{% block title %}Edit profile{% endblock %}

{% block extrahead %}             
  <script src="{{ MEDIA_URL }}js/edit_profile.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}js/section-title.js" type="text/javascript"></script>
  <script type="text/javascript">
    var selected_areas = [ {{ selected_areas }} ]; // for edit_profile.js
    $(function() {
        $(".vDateField").datepicker({showOn:"both",
                                     showButtonPanel:true,
                                     changeMonth:true,
                                     changeYear:true,
                                     yearRange: '-40:+5'});
    });
  </script>
  <script src="{{ MEDIA_URL }}js/jquery.autocomplete.js"></script>
    <script src="{{ MEDIA_URL }}js/ajax-select.js"></script>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" type="text/css" media="screen">
  {{ faculty_form.media }}
  {{ presentation_formset.media }}
{% endblock %}

{% block sitesection %}profile{% endblock %}

{% block breadcrumblinks %}
<a href="{% url profiles.views.view_student_profile student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
Edit
{% endblock %}

{% block mainbody %}
<form action="{% url profiles.views.edit_student_profile student.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
  {% if student_form.errors or workurl_formset.errors or workimage_formset.errors %}
  
  <div class="errorlist">
    Please fix errors below.
  </div>

  {% if student_form.errors %}
    <ol>
    {% for error in student_form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
  
  {% if workurl_formset.errors %}
    <ol>
    {% for error_u in workurl_formset.errors %}
        <li><strong>{{ error_u|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
  
  {% if workimage_formset.errors %}
    <ol>
    {% for error_i in workimage_formset.errors %}
        <li><strong>{{ error_i|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}

  {% endif %}
<div id="ProfileTop">
  <div id="photo">
    <h2>Photo</h2>
    {{ student_form.photo.errors }}
    {% if student.photo %}
    <img src="{% thumbnail student.photo 240x240 crop %}" />
    <p>
	<input id="photo-clear_id" type="checkbox" name="photo-clear">
	<label for="photo-clear_id">Clear</label>
	</p>
	<p>
	Change:
    {% else %}
    <img src="{{ MEDIA_URL }}images/defaults/240px/DataMyne_Icon_Student_240.jpg" width="240" height="240" />
    <p>
    {% endif %}
    <input id="id_photo" type="file" name="photo">
    </p>
  </div>

  <div class="basic-info">
    <h2>Basic Info</h2>
    {% if user.is_staff %}
    {{ student_form.first_name.errors }}
    <p>
      {{ student_form.first_name.label_tag }}{{ student_form.first_name }}
    </p>
    {{ student_form.last_name.errors }}
    <p>
      {{ student_form.last_name.label_tag }}{{ student_form.last_name }}
    </p>
    {{ student_form.admin_title.errors }}
    <p>
      {{ student_form.admin_title.label_tag }}{{ student_form.admin_title }}
    </p>
    {{ student_form.status.errors }}
    <p>
      {{ student_form.status.label_tag }}{{ student_form.status }}
    </p>
    {% else %}
    <p class="fullname">
      {{ student.first_name }} {{ student.last_name }}
    </p>
    <div class="title">
      <p>
	{{ student.get_academic_title_display }}
      </p>
      <p>
	{% if student.admin_title %}{{ student.admin_title }}{% endif %}
      </p>
    </div>
    <p class="org-info">
      {% if org_info.department %}
      {{ org_info.division }} > {{ org_info.school }} > {{ org_info.department }}
      {% endif %}
    </p>
    {% endif %}
    
    {% ifequal student.status 'C' %}
    {{ student_form.homeprogram.errors }}
    <p>
      {{ student_form.homeprogram.label_tag }}{{ student_form.homeprogram }}
    </p>
    {{ student_form.year.errors }}
    <p>
      <label for"id_year">Graduation Year</label>{{ student_form.year }}
    </p>
    {{ student_form.homeschool.errors }}
    <p>
      {{ student_form.homeschool.label_tag }}{{ student_form.homeschool }}
    </p>
    {% endifequal %}
    {{ student_form.expertise.errors }}
    <p>
        {{ student_form.expertise.label_tag }}<br>{{ student_form.expertise }}
        <em>{{ student_form.expertise.help_text }}</em>
    </p>    
  </div>
</div>

  <div>
    <h2>Bio</h2>
    {{ student_form.bio.errors }}
    <p><em>{{ student_form.bio.help_text }}</em></p>
    {{ student_form.bio }}    
  </div>

  <div>
    <h2>Skills</h2>
    {{ student_form.tags.errors }}
    <p><em>{{ student_form.tags.help_text }}</em></p>
    {{ student_form.tags }}
  </div>

  <div>
    <h2>Portfolio Links</h2>

    {{ workurl_formset.management_form }}
    <table id="workurls">
      <thead>
	<tr>
	  <th class="url">URL</th>
	  <th class="title">Title</th>
	  <th class="description">Description</th>
	  <th class="delete">Delete?</th>
	</tr>
      </thead>
      <tbody>
	{% for f in workurl_formset.forms %}
	{{ f.id }}
	<tr class="{% cycle 'odd' 'even' %}">
	  <td class="url">
	    {{ f.url.errors }}
	    {{ f.url }}
	  </td>
	  <td class="title">
	    {{ f.title.errors }}
	    {{ f.title }}
	  </td>
	  <td class="description">
	    {{ f.description.errors }}
	    {{ f.description }}
	  </td>
	  <td class="delete">
	    {{ f.DELETE }}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

  </div>

  <div class="curriculum-vitae">
    <h2>Resume</h2>
    {{ student_form.cv.errors }}
    {% if student.cv %}
    <a href="{{ student.cv.url }}" title="resume" target="_blank">View your uploaded resume file</a>
    <img src="{{ MEDIA_URL }}images/icon.new-window.png" alt="new window" title="new window"/>
    {% else %}
    <em>No resume uploaded yet.</em>
    {% endif %}
    <!--    <p><a href="#">Change file</a></p> -->
    {{ student_form.cv }}

    {% if student.generated_cv %}
    <p>
      <a href="{% url datamining.apps.cv.views.view student.id %}">View your generated resume PDF</a>
    </p>
    <p>
      <a href="{% url datamining.apps.cv.views.edit student.id %}">Edit your generated resume PDF</a>
    </p>
    <p>
      <a href="{% url datamining.apps.cv.views.delete student.id %}">Delete your generated resume PDF</a>
    </p>
    {% else %}
    <p>
      You can also <a href="{% url datamining.apps.cv.views.edit student.id %}">create and manage a resume PDF by clicking here</a>.
    </p>
    {% endif %}

    {% if student.cv or student.generated_cv %}
    <p>
      You can <a href="{% url datamining.apps.cv.views.delete student.id %}">delete your resumes</a>, if you do not wish to present them.
    </p>
    {% endif %}

    {% if student.cv and student.generated_cv %}
    <p>
      You have both an uploaded resume and a generated resume present. Please
      select which you would like to use:
    </p>
    {{ student_form.use_which_cv }}
{#    <input type="radio" name="use_which_cv" value="u" {% ifequal student_form.use_which_cv.data 'u' %}checked="checked"{% endifequal %} />Uploaded    <input type="radio" name="use_which_cv" value="g" {% ifequal student_form.use_which_cv.data 'g' %}checked="checked"{% endifequal %} />Generated   #}
    {% endif %}
    <p>
      Your resume may be viewed by {{ student_form.allow_cv_viewing_by }}.
    </p>
    <p style="clear: both;"/>
  </div>
  
  <input class="submit" type="submit" value="Submit" />
</form>
{% endblock %}