{% extends "base_profiles.html" %}

{% block title %}
Help
{% endblock %}

{% block sitesection %}help{% endblock %}

{% block breadcrumbs %}
Help
{% endblock %}

{% block mainbody %}

<p>
	<span style="font-size:14px; font-weight:bold; padding-right:24px;">Step by Step Instructions (Faculty)</span>
  <a href="{{ MEDIA_URL }}doc/setup.pdf" target="_blank"><span class="download">Download</span></a>
</p>
<p>
	<span style="font-size:14px; font-weight:bold; padding-right:19px;">Step by Step Instructions (Student)</span>
  <a href="{{ MEDIA_URL }}doc/DataMyne_Student_Guide_R2.pdf" target="_blank"><span class="download">Download</span></a>
</p>
<p>
	<span style="font-size:14px; font-weight:bold; padding-right:173px;">Parsons Festival</span>
  <a href="{{ MEDIA_URL }}doc/DataMyne-ParsonsFestival_R1.pdf" target="_blank"><span class="download">Download</span></a>
</p>
<p>
	<span style="font-size:14px; font-weight:bold; padding-right:166px;">How to Write A Resume</span>
  <a href="http://www.newschool.edu/WorkArea/linkit.aspx?LinkIdentifier=id&ItemID=47476" target="_blank"><span class="download">Download</span></a>
</p>

<h2 style="padding-top:20px">FAQ</h2>

<p><b>Q: Who will see my profile?</b><br>
A: Your profile will be visible to anyone viewing the <a href="http://mining.parsons.edu/" target="_blank">mining.parsons.edu</a> site, as well as visitors to the thesis exhibitions who may request more information about you via SMS codes on the festival signage.
</p>

<p><b>Q: Will my email address be shared with anyone?</b><br>
A: No, your school email address will not be visible in the system, will not be shared with anyone outside of The New School.  Anyone who sends you a message will be doing so deliberately, after seeing your individual profile on DataMyne or work in the festival.
</p>

<p><b>Q: Why can't I list my gmail or other email address?</b><br>
A: This may be an option in future versions, though we are using your New School email address because we already have it, and it will work forever.  This is a great time to set up your email to forward messages from your school</a>.
</p>

<p><b>Q: I can't log in, what's up?</b><br>
A: Use your netID and your New School password.
</p>

<p><b>Q: How do I edit my profile?</b><br>
A: Click on Edit Profile in the top right of your profile page, make your edits then choose "Submit" at the bottom of the page.
</p>

<p><b>Q: My changes weren't saved, why not?</b><br>
A: Please check that you are clicking on "Submit" at the bottom of the page to ensure your changes are submitted.
</p>

<p><b>Q: My course is listed incorrectly, how do I fix that?</b><br>
A: You can edit the listing of your course taught by clicking on 'edit title' next to the name of the course listing. If the course is entirely incorrect, send us an email and we can remove it.
</p>

<p><b>Q: It is only showing a partial record of my teaching, how do I add more?</b><br>
A: We only have information from the Dean's Office reflecting the last several years, to create the most current view of teaching activity.
</p>

<p><b>Q: My new or upcoming class isn't showing up in my record, how can I add this?</b><br>
A: New teaching records are imported from the Dean's Office at the 4th week of classes, after the schedules are reflecting truly accurate information.
</p>

<p><b>Q: My status recently changed, but I can't edit this info, what gives?</b><br>
A: Send us an email, or contact Soo Chon.
</p>

<p><b>Q: Do I have to upload a picture?</b><br>
A: No, but it would be nice.  Plus, it's the only way to appear on the homepage!
</p>

<p><b>Q: How long will it take to have my info appear on the new Parsons website?</b><br>
A: Content is regularly uploaded from datamine to Parsons site every couple of weeks. You can update your profile directly as often as you like to share your research interests with colleagues, and convey information about faculty and related initiatives to prospective students and faculty.
</p>

<br>
<p>Questions or suggestions? contact us: <a href="mailto:datamine@parsons.edu">datamine@parsons.edu</a></p>

{% endblock %}